body {
    color: #404040;
    font-family: Georgia, serif;
    font-size: 14px;
    margin: 0px 0px 0px 0px;
    padding: 0px;
}

h1, h2, h3, h4, p, ul, .grid {
    line-height: inherit;
    padding-left: 40px;
    padding-right: 40px;
}

h1 {
    border-top: 4px solid;
    font-family: Helvetica, Arial, sans-serif;
    margin: 0px;
    padding-bottom: .5em;
    padding-top: .5em;
}

h2 {
    border-top: 2px solid;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 1.1em;
    padding-top: 1em;
    text-transform: uppercase;
}

h3 {
    font-weight: bold;
    font-size: 1.1em;
    margin: 1.5em 0px .2em 0px;
}

h4 {
    color: #7F7F7F;
    font-family: Helvetica, Arial, sans-serif;
    font-size: .9em;
    margin: 0px;
    text-transform: uppercase;
}

p {
    line-height: 1.5em;
}

ul {
    margin: 0px 20px 0px 20px;
}

li {
    line-height: 1.3em;
    padding-bottom: .3em;
}

.page {
    border-top: 10px solid;
    padding-bottom: 30px;
}

.skills {
    border-bottom: 1px solid #7F7F7F;
    border-top: 1px solid #7F7F7F;
    margin: 2em 8em 2em 8em;
    padding: 1em 0 1em 0;
}

/* Bootstrap overrides */
.col-md-4 {
    padding: 0px;
}
