body {
    background-color: #FFFFFF;
    border-top-color: #000000;
}

a, a:hover, a:active, a:focus, a:visited {
    color: #000000;
}

h1 {
    border-top-color: #999999;
}

h2 {
    border-top-color: #999999;
}

.center {
    text-align: center;
}
.right {
    text-align: right;
}
